Source: inform-mode
Section: editors
Priority: extra
Maintainer: Jan Christoph Nordholz <hesso@pool.math.tu-berlin.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.3
Homepage: http://www.rupert-lane.org/inform-mode/
Vcs-Git: https://github.com/SamB/debian-inform-mode
Vcs-Browser: https://github.com/SamB/debian-inform-mode

Package: inform-mode
Architecture: all
Depends: emacs23 | emacsen, ${misc:Depends}
Suggests: inform
Description: Emacs mode for editing Inform files
 This is an (X)Emacs mode for editing Inform source code.  Inform source
 is used when writing games for the Z-Code virtual machine (aka Infocom).
 This package will add an editing mode to your favorite Emacsen for
 editing these files.
