#!/usr/bin/make -f
clean:
	dh_testdir
	dh_testroot
	dh_clean

build:
build-arch:
build-indep:
install: install-stamp
install-stamp: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install inform-mode.el usr/share/emacs/site-lisp/inform-mode
	touch $@

binary: binary-indep binary-arch
binary-arch: install
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installemacsen
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install
